// color scheme
$grey: #3d3d3d;
$darkGrey: #262626;
$lightGrey: #a6a6a6;
$lightGrey30: #a6a6a67e;
$green: #84b026;
$purple: #a660eb;
$purple50: #a660eb86;
$white: #f2f2f2;

body {
  background-color: $darkGrey;
}

.App {
  margin: 0;
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  height: 100%;
  color: $white;
  font-size: 1.2rem;
}

.header-bar {
  width: 100%;
  height: 20px;
  background-color: $purple;
}
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid $lightGrey;
  margin-bottom: 20px;
}
.heading {
  margin: 0;
}

.head-left {
  flex-basis: 20%;
  display: flex;
  justify-content: flex-start;
}
.head-center {
  flex-basis: 60%;
  display: flex;
  justify-content: center;
}

.head-right {
  flex-basis: 20%;
  display: flex;
  justify-content: flex-end;
}
#question,
#newGame,
#scoring,
#score {
  margin: 10px 15px;
}

@mixin btn {
  display: block;
  width: 300px;
  padding: 15px;
  margin: 10px;
  font-size: 1.5rem;
  border: none;
  border-radius: 20px;
}

button {
  @include btn;
  background-color: $purple;
  color: $white;
  border: 1px solid $lightGrey;
  box-shadow: 0 12px 40px -12px $grey;
  cursor: pointer;
}

button:hover {
  background-color: $white;
  color: $purple;
}

.no-styles {
  width: auto;
  padding: 0;
  background-color: transparent;
  box-shadow: none;
  border: none;
  margin: 0;
  font-size: inherit;
  color: $white;
}
.no-styles:hover {
  box-shadow: none;
  background-color: transparent;
  border: none;
}

#ng-btn {
  font-size: 1rem;
  padding: 5px;
  width: 100px;
  border-radius: 10px;
  background-color: $grey;
}
#ng-btn:hover {
  background-color: $purple;
  box-shadow: 0 0 1px 3px $lightGrey;
}

@mixin wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-wrapper {
  @include wrapper;

  input {
    @include btn;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 10px 0;
  }
  li {
    text-align: left;
  }

  h3 {
    margin: 10px;
  }
}

.game-home-wrapper {
  flex-grow: 2;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: stretch;
  margin-bottom: 10px;
}

.scorecard {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $purple;
  padding: 10px;
  flex-basis: 28%;
  border: 1px solid $grey;
  border-radius: 10px;

  h2 {
    margin-top: 0;
  }
}

.instructions-wrapper {
  text-align: center;
  flex-basis: 28%;
  border: 1px solid $grey;
  border-radius: 10px;
  padding: 10px;

  h2 {
    margin-top: 0;
  }

  .grid {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;

    .col-l {
      display: flex;
      justify-content: flex-end;
    }
    .col-r {
      display: flex;
    }
  }
}
.game-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.turn-container {
  @include wrapper;
  flex-basis: 40%;
  border: 1px solid $grey;
  border-radius: 10px;
}
@media screen and (max-width: 1000px) {
  .turn-container {
    flex-basis: 95%;
  }

  .instructions-wrapper,
  .scorecard {
    flex-basis: 2.5%;
  }
}
.turn {
  @include wrapper;

  h2 {
    margin: 15px 0 10px 0;
  }

  h4 {
    color: $lightGrey;
    margin: 0;
  }
}

// Dice Styling
.dice-container {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.click-div {
  cursor: pointer;
  border-radius: 10%;
  animation: spin 0.2s 3 ease-in-out;
}
.click-div:hover {
  border: 2px solid $lightGrey;
}

@keyframes spin {
  100% {
    transform: rotate(180deg);
  }
}

.m-5 {
  margin: 5px;
}

.dice {
  padding: 3px;
  background-color: $purple;
  width: 40px;
  height: 40px;
  border-radius: 10%;
  pointer-events: none;

  .dot {
    display: block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: white;
    pointer-events: none;
  }
}
.small-dice {
  padding: 2px;
  background-color: $purple;
  width: 20px;
  height: 20px;
  border-radius: 10%;
  margin: 2px;
  pointer-events: none;

  .small-dot {
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: white;
    pointer-events: none;
  }
}
.first-face {
  display: flex;
  justify-content: center;
  align-items: center;
}
.second-face {
  display: flex;
  justify-content: space-between;
}
.second-face .dot:nth-of-type(2) {
  align-self: flex-end;
}
.second-face .small-dot:nth-of-type(2) {
  align-self: flex-end;
}
.third-face {
  display: flex;
  justify-content: space-between;
}
.third-face .dot:nth-of-type(2) {
  align-self: center;
}
.third-face .dot:nth-of-type(1) {
  align-self: flex-end;
}
.third-face .small-dot:nth-of-type(2) {
  align-self: center;
}
.third-face .small-dot:nth-of-type(1) {
  align-self: flex-end;
}

.face {
  display: flex;
  justify-content: space-between;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mid {
  justify-content: center;
}

// Text styling
.purple {
  color: $purple;
}

.font-large {
  font-size: 4rem;
}

.instructions-pop {
  h2,
  p,
  h4,
  ul {
    margin: 0;
    margin-bottom: 5px;
  }
  strong,
  h2,
  h4 {
    color: $purple;
  }
}
