body {
  background-color: #262626;
}

.App {
  margin: 0;
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  height: 100%;
  color: #f2f2f2;
  font-size: 1.2rem;
}

.header-bar {
  width: 100%;
  height: 20px;
  background-color: #a660eb;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #a6a6a6;
  margin-bottom: 20px;
}

.heading {
  margin: 0;
}

.head-left {
  flex-basis: 20%;
  display: flex;
  justify-content: flex-start;
}

.head-center {
  flex-basis: 60%;
  display: flex;
  justify-content: center;
}

.head-right {
  flex-basis: 20%;
  display: flex;
  justify-content: flex-end;
}

#question,
#newGame,
#scoring,
#score {
  margin: 10px 15px;
}

@media screen and (max-width: 500px) {
  #question,
#newGame,
#scoring,
#score {
    margin: 10px;
  }
}
button {
  display: block;
  width: 275px;
  padding: 15px;
  margin: 10px;
  font-size: 1.5rem;
  border: none;
  border-radius: 20px;
  background-color: #a660eb;
  color: #f2f2f2;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  cursor: pointer;
}

button:hover {
  background-color: #a660ebb4;
}

.no-styles {
  width: auto;
  padding: 0;
  background-color: transparent;
  box-shadow: none;
  border: none;
  margin: 0;
  font-size: inherit;
  color: #f2f2f2;
}

.no-styles:hover {
  box-shadow: none;
  background-color: transparent;
  border: none;
}

.home-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-wrapper input {
  display: block;
  width: 275px;
  padding: 15px;
  margin: 10px;
  font-size: 1.5rem;
  border: none;
  border-radius: 20px;
}
.home-wrapper ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 10px 0;
}
.home-wrapper li {
  text-align: left;
}
.home-wrapper h3 {
  margin: 10px;
}

.game-home-wrapper {
  flex-grow: 2;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: stretch;
  margin-bottom: 10px;
}

.scorecard {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #a660eb;
  padding: 10px;
  flex-basis: 28%;
  border-radius: 10px;
}
.scorecard h2 {
  margin-top: 0;
}

.instructions-wrapper {
  text-align: center;
  flex-basis: 28%;
  border-radius: 10px;
  padding: 10px;
}
.instructions-wrapper h2 {
  margin-top: 0;
}
.instructions-wrapper .grid {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10px;
}
.instructions-wrapper .grid .col-l {
  display: flex;
  justify-content: flex-end;
}
.instructions-wrapper .grid .col-r {
  display: flex;
}

.game-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.turn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 40%;
  border-radius: 10px;
}

@media screen and (max-width: 1000px) {
  .turn-container {
    flex-basis: 95%;
  }

  .instructions-wrapper,
.scorecard {
    flex-basis: 2.5%;
  }
}
.turn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.turn h2 {
  margin: 15px 0 10px 0;
}
.turn h4 {
  color: #a6a6a6;
  margin: 0;
}

.dice-container {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.click-div {
  cursor: pointer;
  border-radius: 10%;
  animation: spin 0.2s 3 ease-in-out;
}

.click-div:hover {
  box-shadow: rgba(255, 255, 255, 0.16) 0px 3px 6px, rgba(255, 255, 255, 0.23) 0px 3px 6px;
}

@keyframes spin {
  100% {
    transform: rotate(180deg);
  }
}
.m-5 {
  margin: 5px;
}

.dice {
  padding: 3px;
  background-color: #a660eb;
  width: 40px;
  height: 40px;
  border-radius: 10%;
  pointer-events: none;
}
.dice .dot {
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: white;
  pointer-events: none;
}

.small-dice {
  padding: 2px;
  background-color: #a660eb;
  width: 20px;
  height: 20px;
  border-radius: 10%;
  margin: 2px;
  pointer-events: none;
}
.small-dice .small-dot {
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: white;
  pointer-events: none;
}

.first-face {
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-face {
  display: flex;
  justify-content: space-between;
}

.second-face .dot:nth-of-type(2) {
  align-self: flex-end;
}

.second-face .small-dot:nth-of-type(2) {
  align-self: flex-end;
}

.third-face {
  display: flex;
  justify-content: space-between;
}

.third-face .dot:nth-of-type(2) {
  align-self: center;
}

.third-face .dot:nth-of-type(1) {
  align-self: flex-end;
}

.third-face .small-dot:nth-of-type(2) {
  align-self: center;
}

.third-face .small-dot:nth-of-type(1) {
  align-self: flex-end;
}

.face {
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mid {
  justify-content: center;
}

.purple {
  color: #a660eb;
}

.font-large {
  font-size: 4rem;
}

.instructions-pop h2,
.instructions-pop p,
.instructions-pop h4,
.instructions-pop ul {
  margin: 0;
  margin-bottom: 5px;
}
.instructions-pop strong,
.instructions-pop h2,
.instructions-pop h4 {
  color: #a660eb;
}

/*# sourceMappingURL=App.css.map */
